# PostgreSQL
DATABASE_URL="postgresql://fkknv:fkknv@localhost:5432/fkknv?schema=public"

# Auth
JWT_SECRET="zmen-ma-v-produkcii"
JWT_EXPIRES_IN="15m"
REFRESH_EXPIRES_IN="30d"

# Server
PORT=3001
CORS_ORIGIN="http://localhost:3000"

# Seed admin (len pre prvé spustenie)
SEED_ADMIN_EMAIL="admin@fkknv.sk"
SEED_ADMIN_PASSWORD="zmen-ma-hned"
